/* Compatible with Leaflet 0.7 */
.leaflet-control-locate {
  a {
    font-size: 1.4em;
    color: #444;
    cursor: pointer;
  }
  &.active {
    a {
      color: #2074b6;
    }
    &.following a {
      color: #fc8428;
    }
  }
}

.leaflet-touch .leaflet-bar .leaflet-locate-text-active {
  width: 100%;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 10px;
  .leaflet-locate-icon {
    padding: 0 5px 0 0;
  }
}

.leaflet-control-locate-location circle {
  animation: leaflet-control-locate-throb 4s ease infinite;
}

@keyframes leaflet-control-locate-throb {
  0% {
    stroke-width: 1;
  }
  50% {
    stroke-width: 3;
    transform: scale(0.8, 0.8);
  }
  100% {
    stroke-width: 1;
  }
}
