
.leaflet-control-locate > div {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3F000000',EndColorStr='#3F000000');
}
.leaflet-control-locate a {
	background-color: #eee;
}
.leaflet-control-locate a:hover {
    background-color: #fff;
}
