.leaflet-control-locate  {
	height: 30px;
}

.leaflet-control-locate > div {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
.leaflet-control-locate > div {
    padding: 5px;
    background: rgba(0, 0, 0, 0.25);
}
.leaflet-control-locate a {
    background-color: rgba(255, 255, 255, 0.75);
}
.leaflet-control-locate a{
	background-image: url(images/locate.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
}
.leaflet-control-locate a {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 19px;
    height: 19px;
}
.leaflet-control-locate a:hover {
    background-color: #fff;
}

.leaflet-control-locate.active a {
    background-image: url(images/locate_active.png);
}