/* Compatible with Leaflet 0.7 */

@import url('font/locate-fa.woff');
@import url('css/locate-fa.css');
@import url('css/animation.css');

.leaflet-touch .leaflet-bar-part-single {
	-webkit-border-radius: 7px 7px 7px 7px;
	        border-radius: 7px 7px 7px 7px;
	border-bottom: none;
}

.leaflet-control-locate a {
	font-size: 1.4em;
	margin-left: 1px;
    color: #444;
}

.leaflet-control-locate.active a {
	color: #265B86;
}

.leaflet-control-locate.active.following a {
	color: #FC8428;
}

.leaflet-touch .leaflet-control-locate {
	box-shadow: none;
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
}

.leaflet-control-locate-compass {
  font-size: 24px;
  text-align: center;
  color: #265B86;

  -webkit-transform-origin: 50% 50%;
     -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
       -o-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.leaflet-control-locate-compass:before { 
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
} 
